<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
  <meta property="og:site_name" content="Luiz Cezer - Ruby on Rails Developer" />
  <meta property="og:url" content="http://lccezinha.github.io/" />
  <meta property="og:title" content="Movido a Coca-Cola & Thrash Metal /m/" />
  <meta property="og:description" content="Movido a Coca-Cola & Thrash Metal /m/" />
  <meta property="og:image" content="http://i.imgur.com/y2zFNFp.jpg" />
  
  <meta property="twitter:image" content="http://i.imgur.com/M0qyGYU.jpg" />
  <meta property="twitter:description" content="Autor de um livro de teste" />
  <meta property="twitter:title" content="Campeão de arroto" />
  <meta property="twitter:url" content="http://www.pudim.com.br" />
  
</head>
